---

---

<div
  class="relative transition-all w-[calc(100vw-5.75rem)] max-w-md flex flex-col justify-between snap-start snap-always shrink-0 first-of-type:scroll-m-10 scroll-m-5 overflow-visible m-6"
>
  <slot />
</div>
