---
import LanguageSelect from "@astrojs/starlight/components/LanguageSelect.astro";
import Search from "@astrojs/starlight/components/Search.astro";
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import type { Props } from "@astrojs/starlight/props";

// Only show docs link from homepage
const shouldShowLinks = Astro.url.pathname === "/";
---

<header class="fixed top-0 w-[100%] transition-all backdrop-blur-2xl z-20">
  <div class="header-background"></div>
  <div class="header">
    <div class="inner-header sl-flex">
      <div class="title-wrapper sl-flex">
        <SiteTitle {...Astro.props} />
      </div>
      <div class="sl-flex">
        <Search {...Astro.props} />
        <nav
          class="flex flex-row grow sm:justify-center md:justify-start align-baseline items-center"
        >
          {
            shouldShowLinks && (
              <a
                href={"/engineering/philosophy"}
                class="sm:ml-4 md:ml-8 mx-4 mt-[1px] flex text-lg no-underline hover:underline visited:text-inherit active:text-inherit"
              >
                Docs
              </a>
            )
          }
          {
            shouldShowLinks && (
              <a
                href={"/changelog"}
                class="sm:ml-4 md:ml-8 mx-4 mt-[1px] flex text-lg no-underline hover:underline visited:text-inherit active:text-inherit"
              >
                Changelog
              </a>
            )
          }
        </nav>
      </div>
      <div class="sl-hidden md:sl-flex right-group">
        <div class="sl-flex social-icons">
          <SocialIcons {...Astro.props} />
        </div>
        <ThemeSelect {...Astro.props} />
        <LanguageSelect {...Astro.props} />
      </div>
    </div>
  </div>
</header>

<style is:global>
  :root {
    --sl-z-index-navbar: 6000;
  }
</style>

<style>
  .header-background {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--vgv-nav-bg);
    opacity: var(--vgv-nav-opacity);
    z-index: calc(var(--sl-z-index-navbar) - 1);
    pointer-events: none;
  }
  .header {
    position: fixed;
    z-index: var(--sl-z-index-navbar);
    position: relative;

    inset-inline-start: 0;
    inset-block-start: 0;
    width: 100%;
    height: var(--sl-nav-height);
    padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
    padding-inline-end: var(--sl-nav-pad-x);

    box-shadow: 0 0 3rem var(--vgv-nav-glow);
  }

  :global([data-has-sidebar]) .header {
    padding-inline-end: calc(
      var(--sl-nav-gap) + var(--sl-nav-pad-x) + var(--sl-menu-button-size)
    );
  }

  @media (min-width: 50rem) {
    :global([data-has-sidebar]) .header {
      padding-inline-end: var(--sl-nav-pad-x);
    }
  }

  .inner-header {
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .title-wrapper {
    /* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
    overflow: hidden;
  }

  .right-group,
  .social-icons {
    gap: 1rem;
    align-items: center;
  }
  .social-icons::after {
    content: "";
    height: 2rem;
  }

  @media (min-width: 50rem) {
    :global(:root[data-has-sidebar]) {
      --__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
    }
    :global(:root:not([data-has-toc])) {
      --__toc-width: 0rem;
    }
    .inner-header {
      --__sidebar-width: max(
        0rem,
        var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x)
      );
      --__main-column-fr: calc(
        (
            100% + var(--__sidebar-pad, 0rem) -
              var(--__toc-width, var(--sl-sidebar-width)) -
              (2 * var(--__toc-width, var(--sl-nav-pad-x))) -
              var(--sl-content-inline-start, 0rem) - var(--sl-content-width)
          ) / 2
      );
      display: grid;
      grid-template-columns:
        /* 1 (site title): runs up until the main content column’s left edge or the width of the title, whichever is the largest  */
        minmax(
          calc(
            var(--__sidebar-width) +
              max(0rem, var(--__main-column-fr) - var(--sl-nav-gap))
          ),
          auto
        )
        /* 2 (search box): all free space that is available. */
        1fr
        /* 3 (right items): use the space that these need. */
        auto;
      align-content: center;
    }
  }
</style>
