---

---

<div class="overflow-x-clip">
  <div class="max-w-screen-xl mx-auto px-4">
    <div class="grid lg:grid-cols-5 place-items-center relative">
      <div class="max-w-sm md:max-w-max lg:col-span-2 ml-8 mt-8">
        <slot name="content" />
      </div>
      <div class="py-3 lg:col-span-3 lg:-mr-44">
        <slot name="graphic" class="py-3 lg:col-span-3 lg:-mr-44" />
      </div>
    </div>
  </div>
</div>
