<div
  style="display: flex; justify-content: space-around; align-items: start; flex-wrap: nowrap;"
>
  <div style="padding: 10px" ;><slot name="left" /></div>

  <div style="padding: 10px" ;><slot name="right" /></div>
</div>
