<!-- <div class="row">
  <div class="column" style="width:50%;">
      <slot name="left" />
  </div>
  <div class="column" style="width:50%;">
          <slot name="right" />
  </div>
</div> -->
<div style="display: flex; justify-content: space-around; align-items: center; flex-wrap: nowrap;">
<div style="padding: 10px";><slot name="left"/> </div>

<div style="padding: 10px";><slot name="right"/></div>
</div>