---

---

<div class="text-[var(--vgv-title)]">
  <h2
    class="text-4xl lg:text-5xl font-medium lg:tracking-tight mt-4 text-center w-[100%]"
  >
    <slot name="title" />
  </h2>
  <p class="max-w-4xl text-lg my-6 text-center text-pretty">
    <slot name="subtitle" />
  </p>
</div>
